# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plans
*.tfplan

# Sensitive variable files
*.auto.tfvars
terraform.tfvars
*.tfvars

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Linux
*~